In [2]:
# 먼저 기본적인 모듈을 import
import sklearn
import os
import numpy as np

In [3]:
# 데이터를 다운로드 해보자

import os
import tarfile
import urllib.request   #인터넷 창을 여는 화장자

# 다운 받을 주소 루트
DOWNLOAD_ROOT = "https://raw.githubusercontent.com/rickiepark/handson-ml2/master/"
# 데이터 저장할 위치 
HOUSING_PATH = os.path.join("dataset", "housing")
# 저장할 파일 설정
HOUSING_URL = DOWNLOAD_ROOT + "datasets/housing/housing.tgz"

def fetch_housing_data(housing_url=HOUSING_URL, housing_path=HOUSING_PATH):
    if not os.path.isdir(housing_path):  # 현재위치에 파일이잉슨지 보기위한 확인
        os.makedirs(housing_path) #폴더 생성
    tgz_path = os.path.join(housing_path, "housing.tgz") # 자장 위치
    # URL로 표시된 네트워크 객체를 로컬 파일로 복사합니다
    urllib.request.urlretrieve(housing_url, tgz_path)
    housing_tgz = tarfile.open(tgz_path)
    housing_tgz.extractall(path=housing_path) #앞축 해제
    housing_tgz.close() #마무리

In [4]:
fetch_housing_data()
# 함수 실행

In [5]:
import pandas as pd
# 판다스를 이용하여 데이터를 읽어 보겠다
def load_housing_data(housing_path=HOUSING_PATH):
    csv_path = os.path.join(housing_path, "housing.csv") #경로 성정
    return pd.read_csv(csv_path)  #판다스로 데이터 읽기

In [6]:
housing = load_housing_data()  #실행, 읽어 드리는 함수를 사용해서 그 자체를 housing 변수에게 줌
housing.head()   # 데이터들의 대가리 읽기  (맨처음 5개 데이터를 불러옴))

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [7]:
housing.info()
# 데이터 프레임의 설명, 데이터 수, 타입등을 볼수있ㅇ름
# 정리 된것를 보면 각 조건에 따른 데이터 수와 타입들을 볼수있다.

# 보면 모두 20640의 데이터 수인데  total_bedrooms는 좀 적다
# 그리고 마지막 조건은 타임이 다르다

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [8]:
# 다른 타입을 가진 것을 좀더 보면, 위에서 head함수로 봤을때는
# 하나 처럼 보일수있다.
# 그런데 cvs파일을 읽엇기에 텍스트일 가능성이잇다.
# 그럼 어떠한 여러개의 범주를 분류한것을거같다.

# 각카테고리에 몇개의 구역이 있는지 value_counts()함수를 사용해서 보자 
housing["ocean_proximity"].value_counts()

<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: ocean_proximity, dtype: int64

In [9]:
housing.describe()
# 다음 함수는 각 항들에 대한 숫자적인 특징들을 보여준다. 10가지 중에 숫자만 나온다

# 차례로 데이터수, 평균, 표준편차, 최소, (단위별 백분위수), 최대를 의미한다

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [10]:
%matplotlib inline    # 결과를 노트북에 표시 하게해줌
import matplotlib.pyplot as plt   #임포트
housing.hist(bins=50, figsize=(20,15))
# save_fig("attribute_histogram_plots")
plt.show()

UsageError: unrecognized arguments: # 결과를 노트북에 표시 하게해줌

In [11]:
# 히스토 그램으로 알수있는 정보 생략

In [12]:
# 데이터의 테스트세트를 나누자
import numpy as np

# 다음의 과정은 numpy의 랜덤을 사용하는데 매번 다른 결과가 나오면 결과를 보기 힘드므로 seed값을 정해주겠다.
np.random.seed(42)



def split_train_test(data, test_ratio):
    shuffled_indices = np.random.permutation(len(data)) #1
    # permutation: 셔플은 그 자체를 바꾸는데 이함수는 그 자체를 그대로 두고 그 값을 변수에 저장함다
    test_set_size = int(len(data) * test_ratio) #2
    test_indices = shuffled_indices[:test_set_size]  #3
    train_indices = shuffled_indices[test_set_size:]  #3
    return data.iloc[train_indices], data.iloc[test_indices]  #4

# 현재 이함수의 과정을 전체적으로 보면 
# 먼저 전체를 permutation을 하고 원하는 만큼 파일의 크기를 설정한다 1,2 번
# 각 훈련 테스트 셋을 설정 한 크기별로 부류한다. 3번
# 마지막으로 해당 리스트에 맞게 데이터 프래임을 행별로 리턴한다.

# 그니까 대가리만 가져왔다가 나중에 그에 맞는 성분가지 모두 가져오는

In [13]:
train_set, test_set = split_train_test(housing, 0.2)
a=len(test_set)
b=len(train_set)
c=(a+b)

print(a,b,c)

4128 16512 20640

In [14]:
from zlib import crc32

def test_set_check(identifier, test_ratio):
    return crc32(np.int64(identifier)) & 0xffffffff < test_ratio * 2**32

def split_train_test_by_id(data, test_ratio, id_column):
    ids = data[id_column]
    in_test_set = ids.apply(lambda id_: test_set_check(id_, test_ratio))
    return data.loc[~in_test_set], data.loc[in_test_set]

In [ ]:
import hashlib

def test_set_check(identifier, test_ratio, hash=hashlib.md5):
    return hash(np.int64(identifier)).digest()[-1] < 256 * test_ratio